/*login and register*/
.max-height {
  min-height: calc(100vh - 120px );
}

// faire une line
.title-underline {
  width: 200px;
  height: 10px;
  margin: 0 auto;
  //background: #000;
}

.height-80{
  min-height: 80vh;
}

.card {
  img {
    height: 400px!important;
  }
}

body {
    background-color: #FFFFFF !important;
}

a {
  color: var(--link-color);
  text-decoration: none !important;
  background-color: transparent !important;
}


// turbo progress bar
.turbo-progress-bar {
  height: 10px;
  background-color: #a11b4c;
  margin-top: 60px;
}

.badge-danger {
  background-color: #dc3545 !important;
}

.btn-outline-dark:hover {
  background-color: #000!important;
  color: white !important;
}